<!-- Start Simple News Admin by phpbb3world.com --> 
<!-- IF NEWS_ASPECT -->
	<div class="forabg">
	    <div class="inner"><span class="corners-top"><span></span></span>
	        <ul class="topiclist">
	            <li class="header">
					<dl class="icon">
						<dt>{L_ADMINISTRATOR}</dt>
					</dl>   
	            </li>
	        </ul>
	        <ul class="topiclist forums">
	            <li class="row">
					<dl>
                    &nbsp;
					<div style="text-align: center;">{NEWS_MESSAGE}</div>
					&nbsp;
					</dl>
	            </li>
	        </ul>
	    <span class="corners-bottom"><span></span></span></div>
	</div>
<!-- ELSE -->
<div class="forabg">
	<div class="inner"><span class="corners-top"><span></span></span>
		<table class="table1" cellspacing="0">
			<tr class="bg1">
				<td>
					<div style="text-align: center;">{NEWS_MESSAGE}</div>
				</td>
			</tr>
		</table>
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->
<!-- End Simple News Admin by phpbb3world.com -->

<!--
	<div class="panel">
		<div class="inner"><span class="corners-top"><span></span></span>
		<div style="text-align: center;">{NEWS_MESSAGE}</div>
		<span class="corners-bottom"><span></span></span></div>
	</div>
	
	<div class="panel bg3">
		<div class="inner"><span class="corners-top"><span></span></span>
		<div style="text-align: center;">{NEWS_MESSAGE}</div>
		<span class="corners-bottom"><span></span></span></div>
	</div>

	
	<div class="rules">
		<div class="inner"><span class="corners-top"><span></span></span>
		<div style="text-align: center;">{NEWS_MESSAGE}</div>
		<span class="corners-bottom"><span></span></span></div>
	</div>
	
	<div class="panel bg2">
		<div class="inner"><span class="corners-top"><span></span></span>
		<div style="text-align: center;">{NEWS_MESSAGE}</div>
		<span class="corners-bottom"><span></span></span></div>
	</div>
	
	<div class="navbar">
		<div class="inner"><span class="corners-top"><span></span></span>
		<div style="text-align: center;">{NEWS_MESSAGE}</div>
		<span class="corners-bottom"><span></span></span></div>
	</div>
	-->